:root {
    --bs-spacing: 2px;
    /* spacing between avatar and status */
    --bs-width: 2px;
    /* width of the status */
    --bs-popout-spacing: 3px;
    /* spacing between avatar and status for user popouts */
    --bs-popout-width: 4px;
    /* width of the status for user popouts */
    --bs-profile-spacing: 3px;
    /* spacing between avatar and status on modals/profiles */
    --bs-profile-width: 4px;
    /* width of the status on modals/profiles */
    --bs-online-color: #43b581;
    /* color for online status */
    --bs-idle-color: #faa61a;
    /* color for idle status */
    --bs-dnd-color: #f04747;
    /* color for dnd status */
    --bs-offline-color: #636b75;
    /*material design Colors */
    --dnd: #B71C1C;
    --offline: #9E9E9E;
    --invisible: #FF6D00;
    --streaming: #3D5AFE;
    /*material design Colors */
    /* color for offline status */
    --bs-invisible-color: #747f8d;
    /* color for invisible status - Note this will only show for your own invisibility */
    --bs-streaming-color: #643da7;
    /* color for streaming status */
    --custom:#3D5AFE;
    --norepeat: no-repeat;
}
.app {
    --bacon-status: 1;
}
[class*="avatar-"] [class*="status"],
#user-profile-modal .status {
    width: 100%!important;
    background: transparent;
    border-radius: inherit !important;
    height: 100%!important;
    transition: all 200ms ease !important;
    top: calc(-1*var(--bs-spacing) + -1*var(--bs-width)) !important;
    right: calc(-1*var(--bs-spacing) + -1*var(--bs-width)) !important;
    bottom: calc(-1*var(--bs-spacing) + -1*var(--bs-width)) !important;
    left: calc(-1*var(--bs-spacing) + -1*var(--bs-width)) !important;
    padding: var(--bs-spacing) !important;
    transition: all 200ms ease !important;
    border: var(--bs-width) solid #636b75 !important;
    margin: 0 !important;
}
[class*="user-info"] [class*="status"] {
    border: none !important;
}
[class*="theme-"] [class*="avatar-"] [class*="idle"],
[class*="theme-"] [class*="avatar-"] [class*="Idle"],
#user-profile-modal [class*="idle"] {
    border-color: var(--idle) !important;
}
[class*="theme-"] [class*="avatar-"] [class*="dnd"],
[class*="theme-"] [class*="avatar-"] [class*="Dnd"],
#user-profile-modal [class*="dnd"] {
    border-color: var(--dnd) !important;
}
[class*="theme-"] [class*="avatar-"] [class*="streaming"],
[class*="theme-"] [class*="avatar-"] [class*="Streaming"],
#user-profile-modal [class*="streaming"] {
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: var(--streaming) !important;
}
[class*="theme-"] [class*="avatar-"] [class*="online"],
[class*="theme-"] [class*="avatar-"] [class*="Online"],
#user-profile-modal [class*="online"] {
    border-color: var(--online) !important;
}
[class*="theme-"] [class*="avatar-"] [class*="invisible"],
[class*="theme-"] [class*="avatar-"] [class*="Invisible"],
#user-profile-modal [class*="invisible"] {
    border-color: var(--invisible) !important;
}
[class*="theme-"] [class*="avatar-"] [class*="offline"],
[class*="theme-"] [class*="avatar-"] [class*="Offline"],
#user-profile-modal [class*="offline"] {
    border-color: var(--offline) !important;
}
.channel-members .member.member-status-offline .status {
    display: flex !important;
}
[class*="avatar-"] [class*="status"].status-typing {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    right: 0 !important;
}
[class*="avatar-"] [class*="status"].status-typing .spinner .spinner-inner {
    left: 1px !important;
    top: 1px !important;
}
[class*="theme-"] [class*="userPopout-"] [class*="avatar-"],
[class*="theme-"] #user-profile-modal .avatar-profile {
    border: none;
}
/*     --rs-popout-spacing: 3px;
    --rs-popout-width: 4px; */
[class*="theme-"] .userPopout-4pfA0d .avatar-1BXaQj.popout-UKvsJt [class*="status"],
[class*="theme-"] #user-profile-modal .avatar-profile .status {
    border-width: var(--bs-popout-width) !important;
    top: -7px !important;
    right: -7px !important;
    bottom: -7px !important;
    left: -7px !important;
    padding: var(--bs-popout-spacing) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: content-box;
}
[class*="theme-"] #user-profile-modal .avatar-profile .status {
    border-width: var(--bs-profile-width) !important;
    padding: var(--bs-profile-spacing) !important;
}
.channel-members .member,
#user-profile-modal .guilds .guild {
    padding-bottom: calc((var(--bs-spacing) + var(--bs-width))*2) !important;
    padding-top: calc((var(--bs-spacing) + var(--bs-width))*2) !important;
}
.headerStreaming-3F-wjT,
.headerLive-2dDMvp:hover {
    background: var(--streaming);
}

