//META{"name":"My theme","description":"A simple tutorial theme","author":"Bacon_Space","version":"1.0"}*//
  .markup{
        color:orange !important;
    }
    .chat .welcome-message h1{
    color:red !important;
    }
    .win-buttons.win-buttons-light .win-close{
    color:red !important;
    }
   
  .message-group h2 .timestamp{
    color:orange !important;
    }
    
    .create-guild-container .action.join .action-header{
    color:orange !important;
    }
  .create-guild-container .action.join .action-header{
    color:orange !important;
    }
    .create-guild-container .action.create .action-header{
     color:orange !important;
    }
    
    .form header{
    color:orange !important;
    }
    
   .body {
    font-family: oswald;
     background: transparent;
     color:black !important;
}



    .guild-header header span {
   font-family: oswald;
     background: transparent;
     color:orange !important;
}
    .embed .embed-provider{
    color:orange !important;
    } 
    .embed .embed-title+.embed-description{
    color:orange !important;
    } 
    
    .embed .embed-title{
    color:red !important;
    } 
    
    
    .chat>.title-wrap>.title .channel-name{
    color:orange !important;
    }
    
    
    .chat .welcome-message .item-container .icon.exclamation{
    color:red !important;
    }
    
    strong, b {
      color:yellow !important;
    }
    
    .chat>.title-wrap>.title {
     color:yellow !important;
     color:transparent 
    }