//META{"name":"BeamCord","description":"Changes all accents from blue to Beam Blue","author":"Bacon_Space","version":"0.3"}*//

form[data-reactid=".0.1.1.0.2.1.0.1"]{
	margin: 0 !important;
}

.channel-textarea{
	margin: 20px 20px 30px !important;
}

#beamcord-button-container{
	right: 20px !important;
}

.tooltip{
	background-color: green !important;
}

.tooltip-top:after{
	border-top-color: blue !important;
}

.tooltip-right:after{
	border-right-color: blue !important;
}

.divider.divider-red span {
	color: blue !important;
	background:transparent !important; 
}

.guild-channels ul .channel-text.selected:before{
	border-left: 4px solid blue !important;
}

.chat .title-wrap .topic a {
	color: blue !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
	background-color: blue !important;
	border-color: blue !important;
}

.radio .radio-inner span:after {
	background:blue !important;
}

.slider-bar-fill {
	background:blue !important;
}

.form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus{
	border-bottom: 2px solid blue !important;
}

.user-settings-modal a {
	color: #6441A5 !important;
}

.guilds li.active .guild-inner {
	background:#6441A5 !important;
}

.guilds li.active .guild-inner, .guilds li:hover .guild-inner{
	background:#6441A5 !important;
}

.tab-bar.SIDE .tab-bar-item:before {
	border-left: 4px solid red !important;
}

.chat>.content .messages .divider.divider-red>div {
	background:yellow !important;
}

.form .btn-primary{
	background:#6441A5 !important;
}

.popout header{
	background-color:#6441A5 !important;
}

.chat .new-messages-bar{
	background-color:#6441A5 !important;
}

.guild-channels ul .channel-text:hover{
	background: linear-gradient(to right, blue 85%,#2e3136) !important;
}

.tab-bar.TOP .tab-bar-item.selected {
	border-bottom: 2px solid blue !important;
}

.user-popout .user-popout-options .btn {
    background-color: blue !important;
    border: 1px solid #6441A5 !important;
}

.user-popout .user-popout-options .btn:hover {
    background-color: #55368F !important;
}

.user-popout .user-popout-options .btn.btn-server {
 	background-color: transparent !important;   
}



.mention {
 	color: yellow !important;   
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: blue !important;
}