div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}


.channel-members .member .member-game, .channel-members .member .member-username-inner {
font-family: anton;
}

.private-channels .search-bar {
    background-color: #213248;
    display: circle;
 
}
.bd-public-button {
    background-color: #213248;
    display: circle;
 
}

.channel-members h2 {
    color: #213248;
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: .08em;
    font-weight: 600;
    padding: 0 30px;
}



.download-apps .platforms .platform {
    border: 2px solid #2C7E7B;
    text-transform: lowercase;
}
.download-apps .footer {
    color: #2C7E7B;
    text-transform: lowercase;
}
.download-apps .footer a {
    color: #3DA9A9;
    text-transform: lowercase;
}
.download-apps .header {
    color: #3DA9A9;
    text-transform: lowercase;
}
.download-apps .platforms .platform.active {
    border-color: #3DA9A9;
    text-transform: lowercase;
}


.change-log ul li {
    color: #2C7E7B;
}
.change-log .footer {
    border-top: 1px solid #4C4C4C;
    color: #2C7E7B;
    background-color: #213248;
}

.change-log {
    background: #213248;
     text-transform: uppercase;
    font-family: anton;
}

.guild-header header {
    background-color: #213248;
    font-family: anton;
    text-transform: lowercase;
    color: #fff;
   
}

.guild-header header:hover {
    background-color: #213248;
    font-family: anton;
    text-transform: lowercase;
    color: #fff;
   
}
.guild-channels header span {
text-transform: uppercase;
}



.theme-dark .chat .title-wrap .channel-name {
    color: #0099e6;
    text-transform: uppercase;
}


.guild-header ul {
    background: #213248;
     text-transform: uppercase;
    box-shadow: 0 2px 0 rgba(0,0,0,.06),inset 0 -1px 0 rgba(0,0,0,.06);

}


.tab-bar.SIDE {
    background-color:#213248;

}

element.style {
    background-color: #213248;
    color: #ADADAD;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.theme-dark #friends .friends-header {
    background-color: #213248;
    border-bottom: 1px solid #282b30;
    box-shadow: none;
}
.help-container {
    height: 56px;
    padding-bottom: 3px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #213248;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.guilds {
    padding: 18px 15px;
    background-color: #213248;
    overflow-y: scroll;
    width: 100px;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.theme-dark .chat .title-wrap {
    background-color: #213248;
    border-bottom: 1px solid #282b30;
}

.theme-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #213248;
    color: black;
    -webkit-text-size-adjust: none;
}

.message-group  .timestamp {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #213248;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    margin-left: 6px;
}

.mention {
 	color: yellow !important;   
}
