//META{"name":"SpaceExtanded","description":"Theme Made By Bacon_Space","author":"Bacon_Space","version":"1.0"}*//

@font-face {
    font-family: "Starwars";
    src: url(http://spaceextanded.github.io/Star.ttf) format("truetype");
}

@font-face {
    font-family: "batman";
    src: url(http://spaceextanded.github.io/batman.ttf) format("truetype");
}

.mention {
 	color: #8b0000 !important;   
}

.message-group h2 .timestamp {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #99aab5;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    margin-left: 6px;
}


.chat .welcome-message {
font-family: "Starwars";
}

div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}


.chat>.title-wrap>.title .channel-name:before {
    content: '#';
    margin-right: 2px;
    color: #fff;
    text-shadow: 2px 2px #FF0000;
    font-weight: 300;
}

.bot-tag {
    background: transparent;
    font-size: 10px;
    font-family: "Starwars";
    font-weight: 600;
    color: #fff!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: capitalize;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.bot-tag.bot-tag-invert {
    background: transparent;
    font-family: "Starwars";
    color: #738bd7!important;
}

.guild-channels {
    background-color: #8B0000;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: "Starwars";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.guild-channels ul .channel-text.selected:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: ' ';
    border-left: 2px solid #fff;
    opacity: 1!important;
    -ms-filter: none;
    filter: none;
}

.user-popout header {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
.popout header {
    background-color: #8b0000;
    padding: 13px;
    font-family: "Starwars";
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    border-radius: 3px 3px 0 0;
}

.theme-dark .friends-table .messages .message-group h2 strong, .theme-dark .messages-wrapper .messages .message-group h2 strong {
    font-family: "Starwars";
}

.private-channels .channel .icon-friends {
    background: url(/assets/78edad9e528abdda340ef4341ac52b57.svg) 50% no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #8b0000;
    margin-right: 12px;
}

.markdown {
    font-family: "Starwars";
}

.guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(/assets/89576a4bb71f927eb20e8aef987b499b.svg);
    background-size: 32px 28px;
    background-position: 50%;
    background-color: #8b0000;
    background-repeat: no-repeat;
}


.tooltip {
    position: absolute;
    font-family: "Starwars";
    background-color: #8b0000;
    text-shadow: 2px 2px #FF0000;
    box-shadow: 0 2px 4px 1px #8b0000;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    z-index: 1002;
    max-width: 160px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.notice.notice-streamer-mode {
    text-shadow: 2px 2px #ff0000;
    background-color: #8b0000;
}

.account .account-details .username {
font-family: "StarWars";
}

.streamer-mode-enabled .streamer-mode-enabled-btn:hover {
    background-color: #ff0000;
    text-shadow: 2px 2px #ff0000;
    font-family: anton;
}
.streamer-mode-enabled .streamer-mode-enabled-btn {
    color: #fff;
    text-decoration-color: black;
    text-decoration: inherit;
    background-color: #8b0000;
    text-shadow: 2px 2px #ff0000;
    font-family: anton;
) 


