//META{"name":"StreamJar","description":"Theme For StreamJar Made By Bacon_Space","author":"Bacon_Space","version":"0.3"}*//

div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}
.app {
    background-image:url(https://streamjar.tv/apple-touch-icon-152x152.png) !important;
    background-size:cover !important;
}


.channel-members .member .member-game, .channel-members .member .member-username-inner {
font-family: anton;
}

.chat>.title-wrap>.title .channel-name:before {
    content: '!';
    margin-right: 2px;
    color: #fff;
    text-shadow: 2px 2px #FF0000;
    text-shadow: 2px 2px #FF0000;
    font-weight: 300;
}

.bot-tag {
    background: #503a60;
    font-size: 10px;
    font-weight: 600;
    color: #fff!important;
    text-shadow: 2px 2px #FF0000;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: capitalize;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.typing {
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 26px;
    width: 100%;
    background-color: #503a60;
    color: #503a60;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    resize: none;
    overflow-y: hidden;
}




.flex-spacer {
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    background-color: #503a60;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.chat form {
    background-color: #503a60;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    margin: 0 20px;
    position: relative;
}


.chat .messages {
    margin: 0;
    background-color: #503a60;
    overflow-x: hidden;
}


.private-channels .channel {
    font-size: 14px;
    line-height: 1.25em;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    color: #503a60;
}

.private-channels .channel.selected {
    background: -webkit-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(90deg,#282b30 85%,#2e3136);
    background-color: #503a60;
}

#emote-menu-inner, #emote-menu-inner-fav {
    background-color: #503a60;
    background-repeat: repeat;
}

.account .btn-mute:after {
     width: 32px;
    height: 32px;
    background-image: url(https://streamjar.tv/favicon-32x32.png);
}

.private-channels .channel .icon-friends {
    background: url(https://streamjar.tv/favicon-32x32.png) 50% no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background-color: white;
    margin-right: 12px;
}
.private-channels .channel .icon-friends:hover {
    background: url(https://streamjar.tv/favicon-32x32.png) 50% no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background-color: white;
    margin-right: 12px;
}
.guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(https://streamjar.tv/favicon-32x32.png);
    background-size: 32px 32px;
    background-position: 50%;
    background-color: white;
    background-repeat: no-repeat;
}


.#twitchcord-button-open {
    background-image: url(https://beam.pro/_latest/img/app/logos/ball.svg) !important;
}

#twitchcord-button {
    background-color: transparent; ;
    position: absolute;
    width: 50px;
    height: 42px;
    top: 2px;
    right: 2px;
    background-image: url(https://streamjar.tv/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 7px;
}


#emote-menu-header {
        background-image:url(https://streamjar.tv/apple-touch-icon-152x152.png) !important;
    background-size:cover !important;
    background-color: #5a3f6d;
}

.emote-menu-tab {
    background-color: #503a60;
}

.theme-dark .channel-members {
    background-color: #503a60;
}


.muted {
    background-color: #fff;
}

.popout header {
    background-color: #503a60;
    color: #fff;
    text-transform: uppercase;

}


.user-popout .user-popout-options .btn {
    color: #;
    background-color: #503a60;
 
}

.download-apps .platforms .platform.active .icon.active {
background-color: #8b0000; 
}

.download-apps .inner {
    
 background-color: #503a60;
}

.private-channels .search-bar {
    background-color: #503a60;
    display: circle;
 
}
.form .btn-primary  {
    background-color: #503a60;
    font-family: #503a60;
}
.form .btn-primary:hover  {
    background-color: #503a60;
    font-family: anton;
}
.tab-bar.SIDE .tab-bar-header {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    cursor: default;
    overflow: hidden;
    padding-top: 20px;
    background-color: #503a60;
    padding-left: 18px;
    padding-bottom: 20px;
    box-shadow: 0 1px 0 #503a60;
    box-sizing: border-box;
    white-space: normal;
}
.btn-confirm .btn {
    display: inline-circle;
    background-color: #503a60;
    -webkit-transition: none;
    transition: none;
    color: #fff;
}
.user-settings-modal .settings-wrapper, .user-settings-modal .voice-settings {
    background-color: #503a60;
    font-family: 
}

.btn-confirm .btn:first-of-type:hover {
    background-color: #503a60;
    color: #503a60;
}

.links {
    
    background: #503a60;


}

.settings .settings-actions {
     background-color: #503a60;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
    width: 100%;
    padding: 18px 40px;
    border-radius: 0 0 5px 0;
    text-align: right;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.notice.notice-streamer-mode {
    background-color: #503a60;
}

.streamer-mode-enabled .streamer-mode-enabled-btn:hover {
    background-color: #503a60;
    font-family: anton;
}
.streamer-mode-enabled .streamer-mode-enabled-btn {
    color: #fff;
    background-color: #503a60;
    font-family: anton;
) 


.account {
    height: 70px;
    background: #503a60;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid #1c1e22;
}

.btn-group .btn{
  background:#503a60: !important;

}

.btn-confirm.active .btn:last-of-type:not(:first-of-type) {
    width: 100%;
    background-color: #fff;
    color:#503a60;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.btn-confirm.hover .btn:last-of-type:not(:first-of-type) {
    width: 100%;
    background-color: #fff;
    color:#503a60;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.btn-confirm.active .btn {
    background-color: #503a60;
}


.bd-public-button {
    background-color: #503a60;
    display: circle;
 
}

.channel-members h2 {
    color: #503a60;
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: .08em;
    font-weight: 600;
    padding: 0 30px;
}



.download-apps .platforms .platform {
    border: 2px solid #503a60;
    text-transform: lowercase;
}
.download-apps .footer {
    color: #503a60;
    text-transform: lowercase;
}
.download-apps .footer a {
    color: #503a60;
    text-transform: lowercase;
}
.download-apps .header {
    color: #503a60;
    text-transform: lowercase;
}
.download-apps .platforms .platform.active {
    border-color: #503a60;
    text-transform: lowercase;
}


.change-log ul li {
    color: #503a60;
}
.change-log .footer {
    border-top: 1px solid #503a60;
    color: #503a60;
    background-color: #503a60;
}

.change-log {
    background: #213248;
     text-transform: uppercase;
    font-family: anton;
    color:#fff;
}

.guild-header header {
    background-color: #503a60;
    font-family: anton;
    text-transform: lowercase;
    color: #fff;
   
}

.guild-header header:hover {
    background-color: #503a60;
    font-family: anton;
    text-transform: lowercase;
    color: #fff;
   
}
.guild-channels header span {
    text-transform: uppercase;
    background-color:#fff;
}


#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action {
    color: #503a60;
    background-color:#fff;
    background-color: transparent;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-red {
    color: #fff;
    background-color:#503a60;
}






.guild-header ul {
    background: #fff;
     text-transform: uppercase;
    box-shadow: 0 2px 0 rgba(0,0,0,.06),inset 0 -1px 0 rgba(0,0,0,.06);

}

.form .control-group label+input, .form .control-group label+textarea {
    margin-top: 12px;
    background-color: #503a60;
}

.guild-channels {
    background-color: #503a60;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tab-bar.SIDE {
    
    background-color:#503a60;

}


.theme-dark #friends .friends-header {
    background-color: #503a60;
    border-bottom: 1px solid #503a60;
    box-shadow: none;
}
.help-container {
    height: 56px;
    padding-bottom: 3px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #503a60;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.guilds {
    padding: 18px 15px;
    background-color: #503a60;
    overflow-y: scroll;
    width: 100px;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: transparent;
}

#twitchcord-button {
    background-color: transparent; ;
    position: absolute;
    width: 50px;
    height: 42px;
    top: 2px;
    right: 2px;
    background-image: url(https://streamjar.tv/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 7px;
}





#overlay-explanation {
    border-radius: 5px;
    background: #503a60;
    padding: 10px 15px;
    margin-bottom: 40px;
    color: #fff;
    white-space: initial;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.now-playing.no-detection {
    padding: 14px 0;
    background: #503a60;
    -webkit-animation: none;
    animation: none;
}

.btn-group .btn{
  background:#503a60: !important;

}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #503a60;
    border-color: #fff;
}






.btn-confirm.active .btn:last-of-type:not(:first-of-type) {

    background-color: #fff;
    color:#503a60;

}

.btn-confirm.hover .btn:last-of-type:not(:first-of-type) {
    width: 100%;
    background-color: #fff;
    color:#503a60;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.btn-confirm.active .btn {
    background-color: #503a60;
}



.guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(https://streamjar.tv/favicon-32x32.png);
    background-size: 32px 32px;
    background-position: 50%;
    background-color: white;
    background-repeat: no-repeat;
}



.theme-dark .chat .title-wrap {
    background-color: #fff;
    border-bottom: 1px solid #503a60;
}

.theme-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #503a60;
    color: black;
    -webkit-text-size-adjust: none;
}

.message-group  .timestamp {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #503a60;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    margin-left: 6px;
}